.main-con .footer{
	height: 100%;
	width: 100%;
	background: var(--parangYellow);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-con .footer p{
	margin: 0;
	text-align: center;
	color: var(--parangBlue);
	font-size: 1.2rem;
	padding: .5rem 0;
}
.main-con .footer div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-con .footer div i{
	font-size: 1.5rem;
	padding: 0 .5rem;
	cursor: pointer;
	color: var(--parangBlue);
}
.main-con .footer div a{
	text-decoration: none;
}


/*media max width 1200px*/
@media(max-width: 1200px){
	.main-con .footer{
		flex-direction: column;
}

}